<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="base :: headerFragment (pageTitle='GamePlays')">
</head>

<body>
<div th:replace="navbar:: navbar-top"></div>
<div class="container-fluid" style="margin-bottom: 200px; margin-top: 50px">

    <main class="col-sm-10 offset-sm-1 col-md-8 offset-md-2">

        <h2>Game Nights</h2>
        <div class="table-responsive">
            <table class="table table-striped">
                <thead>
                <tr>
                    <th>#</th>
                    <th>Game Night</th>
                    <th>Games</th>
                </tr>
                </thead>
                <tbody>

                <th:block th:each="elem,iterStat : ${gameNights}">
                    <tr>
                        <td th:text="${iterStat.index+1}">1</td>
                        <td>
                            <a th:href="@{'/gamenights/'+${elem.key}}"
                               th:text="${#dates.format(elem.key, 'dd-MMM-yyyy')}">
                            </a>
                        </td>
                        <td>
                            <th:block th:each="imgSrc : ${elem.value}">
                                <img th:src="${imgSrc}" style="height:30px"/>
                            </th:block>
                        </td>
                    </tr>
                </th:block>
                </tbody>
            </table>
        </div>
    </main>
</div>
</div>

<!-- Bootstrap core JavaScript
================================================== -->
<!-- Placed at the end of the document so the pages load faster -->
<script src="https://code.jquery.com/jquery-3.1.1.slim.min.js"
        integrity="sha384-A7FZj7v+d/sdmMqp/nOQwliLvUsJfDHW+k9Omg/a/EheAdgtzNs3hpfag6Ed950n"
        crossorigin="anonymous"></script>
<script>window.jQuery || document.write('<script src="../../assets/js/vendor/jquery.min.js"><\/script>')</script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/tether/1.4.0/js/tether.min.js"
        integrity="sha384-DztdAPBWPRXSA/3eYEEUWrWCy7G5KFbe8fFjk5JAIxUYHKkDx6Qin1DkWx51bBrb"
        crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
<script src="//cdn.datatables.net/1.10.16/js/jquery.dataTables.min.js"></script>
<!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
<!--<script src="../../assets/js/ie10-viewport-bug-workaround.js"></script>-->

<script th:inline="javascript">
    /*<![CDATA[*/
    heavy = /*[[${heavy}]]*/ "";
    rating = /*[[${rating}]]*/ "";
    /*]]>*/
    $(document).ready(function () {
        $('.table').DataTable();
    })
</script>
</body>
</html>
