<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no"/>
    <title>GamePlays</title>
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" rel="stylesheet"/>
    <link href="//cdn.datatables.net/1.10.16/css/jquery.dataTables.min.css" rel="stylesheet"/>
    <link href="dashboard.css" rel="stylesheet"/>
</head>
<body>

<div class="container-fluid" style="margin-bottom: 200px">

    <main class="col-sm-10 offset-sm-1 col-md-10 offset-md-1">
        <h1><span th:text="${@environment.getProperty('app.group.name')}"> </span> Group Statistics</h1>

        <section class="row text-center placeholders">
            <th:block>
                <div th:replace="fragments:: group-badge"></div>
            </th:block>
            <th:block
                    th:with="url=${plays[0].url}, image=${games[plays[0].url].image}, name=${games[plays[0].url].name}, count=${plays[0].count}">
                <div th:replace="fragments:: game-badge"></div>
            </th:block>
            <th:block
                    th:with="url=${plays[1].url}, image=${games[plays[1].url].image}, name=${games[plays[1].url].name}, count=${plays[1].count}">
                <div th:replace="fragments:: game-badge"></div>
            </th:block>
            <th:block
                    th:with="url=${plays[2].url}, image=${games[plays[2].url].image}, name=${games[plays[2].url].name}, count=${plays[2].count}">
                <div th:replace="fragments:: game-badge"></div>
            </th:block>
        </section>

        <h2>Full Rankings</h2>
        <div class="table-responsive">
            <table class="table table-striped">
                <thead>
                <tr>
                    <th>#</th>
                    <th>Game Name</th>
                    <th>Plays</th>
                    <th>Weight</th>
                    <th>Rating</th>
                </tr>
                </thead>
                <tbody>
                <th:block th:each="elem,iterStat : ${plays}">
                    <tr>
                        <td th:text="${iterStat.index+1}">1</td>
                        <td th:if="${games[elem.url]}!=null">
                            <a th:href="${elem.url}" th:text="${games[elem.url].name}"></a>
                        </td>
                        <td th:unless="${games[elem.url]}!=null" th:text="${elem.url}">Lorem</td>
                        <td th:text="${elem.count}">ipsum</td>
                        <td th:text="${games[elem.url].weight}">ipsum</td>
                        <td th:text="${games[elem.url].rating}">ipsum</td>
                    </tr>
                </th:block>
                </tbody>
            </table>
        </div>
    </main>
</div>
</div>

<!-- Bootstrap core JavaScript
================================================== -->
<!-- Placed at the end of the document so the pages load faster -->
<script src="https://code.jquery.com/jquery-3.1.1.slim.min.js"
        integrity="sha384-A7FZj7v+d/sdmMqp/nOQwliLvUsJfDHW+k9Omg/a/EheAdgtzNs3hpfag6Ed950n"
        crossorigin="anonymous"></script>
<script>window.jQuery || document.write('<script src="../../assets/js/vendor/jquery.min.js"><\/script>')</script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/tether/1.4.0/js/tether.min.js"
        integrity="sha384-DztdAPBWPRXSA/3eYEEUWrWCy7G5KFbe8fFjk5JAIxUYHKkDx6Qin1DkWx51bBrb"
        crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
<script src="//cdn.datatables.net/1.10.16/js/jquery.dataTables.min.js"></script>
<!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
<!--<script src="../../assets/js/ie10-viewport-bug-workaround.js"></script>-->

<script th:inline="javascript">
    $(document).ready(function () {
        $('.table').DataTable();
    })
</script>
</body>
</html>